@import 'variables';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';


body {
  font-family: 'Open Sans';
  font-size: 16px;
  color: $primaryGrey;
  background-color: $color-gray-light;
}

::-webkit-scrollbar
{
  width: 12px;
}

::-webkit-scrollbar-track
{
  background: $color-gray-light;
}

::-webkit-scrollbar-thumb
{
  background: $primaryGrey;
}