<div class="sidebar">
	<div class="sidebar__header">
		<div class="sidebar__header__logo">
			<img src="../../assets/imgs/hyperon_logo.png" alt="Hyperon Logo" title="Hyperon Logo" width="206"
			     height="38"/>
		</div>
		<div class="sidebar__header__toggle">
			<fa-icon [icon]="faBars"></fa-icon>
		</div>
	</div>

	<div class="sidebar__content">
		<div class="sidebar__section">
			<app-driver></app-driver>
		</div>
		<div class="sidebar__section">
			<app-vehicle></app-vehicle>
		</div>
		<div class="sidebar__section">
			<app-driver-history></app-driver-history>
		</div>
	</div>
</div>
